/* Scss Document */

@mixin headline {
		margin-top: 0px;
		margin-bottom: 8px;
		font-weight: normal;
		color: $color-primary;
		font-size: 26px;
}
@mixin headlineBox {
			border: 1px solid $color-white;
			font-family: $font-primary;
			font-size: 20px;
			font-weight: bold;
			color: $color-white;
			display: block;
			text-align: center;
			margin: 0 auto;
			text-transform: uppercase;
}

@mixin paddingMarginZero {
	padding:0px;
	margin:0px;
}

@mixin zoomPrep {
	cursor: pointer;
	height: 100%;
	opacity: 0;
	position: absolute;
	transition-duration: 1s;
	width: 100%;
	z-index: 10;	
	background-size: 100% 100%;
	top: 0px;
	left: 0px;
}

@mixin box_shadow {
  -webkit-box-shadow: 0px 0px 15px 0px #000;
          box-shadow: 0px 0px 15px 0px #000;
}

