/* Scss Document */

$color-primary: #8DC644;
$color-secondary: #646463;
$color-white: #FFFFFF;
$color-border:#979797;
$color-lightGray: #ACACAC;
$color-darkGray: #4A4A4A;
$color-lightOrange: #F6A285;
$color-africa: #FFBC01;
$color-india: #73108E;
$color-space: #132060;
$color-japan: #E50000;
$color-rouge: #BE0000;
$color-artRetro: #EB8300;
$color-family: #00B7EB;




$font-primary: Sica-Regular, sans serif;
$font-primaryLight: Sica-Light, sans serif;
$font-secondary: arial, sans serif;
$main-header-size: 48px;
$secondary-header-size: 18px;
$main-paragraph-size: 16px;
$main-header-size-mobil: 28px;
$secondary-header-size-mobil: 16px;
$main-paragraph-size-mobil: 14px;
$paddingArticle-mobil: 20px;


