/* Scss Document */
 
@import "compass/css3";
@import "variables";
@import "mixins";

/* header*/
.navbar {
    min-height: 60px;
    margin-bottom: 20px;
    border: none;
}
.navbar-default {
    background-color: $color-white;
}
.navbar-brand {
    height: 40px;
    padding-top: 10px;
}
.navbar-nav > li {
    float: left;
}
.navbar-right {
	float: right;	
}
.nav {
    padding-right: 15px ;
}
.slide {
	margin-top: 60px;	
}
.navbar-nav {
    margin: 10px -15px;
}

.navbarIcons {
	text-indent: -3000px;
	
	li {
		background-repeat:no-repeat !important;
		width: 40px;
		margin-right: 6px;
	}
	
	li.phone {
		background:url(../images/aventura-mobil-navIcon-phone.svg);
	}
	li.skype {
		background:url(../images/aventura-mobil-navIcon-skype.svg);
	}
	li.email {
		background:url(../images/aventura-mobil-navIcon-email.svg);
		margin-right: 0px;
	}
	li.google {
		background:url(../images/aventura-mobil-navIcon-google.svg);
	}
}

/* owl carusel */
#owl-demo .item, #owl-demo-2 .item, #owl-demo-3 .item{
        padding: 0px;
        color: $color-primary;
        text-align: center;
    }
	
#owl-demo .item {
		height: 213px
}
	#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-theme .owl-controls {
    margin-top: -200px;
    position: absolute;
    margin-left: 7px;
}
		

.paddingLeftRightZero {
	
	padding-left: 0px;
	padding-right:0px;	
}

/* rooms and apps */

.roomsAps .box {
	min-height: 424px;
	border-radius: 15px;
	color: $color-white;
	margin-bottom: 10px;
}
.roomsAps .box.africaRoom{
	background-color: $color-africa !important;	
	}
.roomsAps .box.indiaRoom{
	background-color: $color-india;	
	}
.roomsAps .box.spaceRoom{
	background-color: $color-space;	
	}
.roomsAps .box.japanRoom{
	background-color: $color-japan;	
	}
.roomsAps .box.rougeAp{
	background-color: $color-rouge;	
	}
.roomsAps .box.artRetroAp{
	background-color: $color-artRetro;	
	}
.roomsAps .box.familyAp{
	background-color: $color-family;	
	}

.roomsAps #owl-demo2 .item {
		height: 212px;

}
	#owl-demo2 .item img{
    display: block;
    width: 100%;
    height: auto;
}
#owl-demo2 .owl-wrapper-outer {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.logo {
	width: 149px;
	height: 149px;
	background-color: #fff;
	margin-top: -75px;
	position:relative;
	text-align: center;
	border-radius: 80px;
	z-index: 5;
	background-size: 149px 149px;
	background-position: center center;
	.price {
	padding-top: 88px;	
	}
	h4 {
		margin-top: -5px;
		font-size: 29px;
	}
	.euro {
		font-size: 15px;
		font-weight: lighter;
	}
	.small {
		margin: 0px;
		padding: 0px;
		color: $color-lightGray;
	}
}

.logo.africaLogo h4 {
	color: $color-africa;
}
.logo.indiaLogo h4 {
	color: $color-india;
}
.logo.spaceLogo h4 {
	color: $color-space;
}
.logo.japanLogo h4 {
	color: $color-japan;
}
.logo.rougeLogo h4 {
	color: $color-rouge;
}
.logo.artLogo h4 {
	color: $color-artRetro;
}
.logo.retroLogo h4 {
	color: $color-artRetro;
}
.logo.familyLogo h4 {
	color: $color-family;
}

.logo.africaLogo {
	background-image: url(../images/aventura-afirca-room-logo.svg)	 
}
.logo.indiaLogo {
	background-image: url(../images/aventura-india-room-logo.svg)	 
}
.logo.spaceLogo {
	background-image: url(../images/aventura-space-room-logo.svg)	 
}
.logo.japanLogo {
	background-image: url(../images/aventura-japan-room-logo.svg)	 
}
.logo.rougeLogo {
	background-image: url(../images/aventura-rouge-ap-logo.svg)	 
}
.logo.artLogo {
	background-image: url(../images/aventura-art-ap-logo.svg)	 
}
.logo.retroLogo {
	background-image: url(../images/aventura-retro-ap-logo.svg)	 
}
.logo.familyLogo {
	background-image: url(../images/aventura-family-ap-logo.svg)	 
}

.describle {
text-align: center;
h3 {
	font-size: 22px;
	margin-bottom: 0px;
	margin-top: 3px;
}
img {
	margin-top: 13px;
	display: inline
}
.small {
	font-size: 13px;
}
}	

.well {
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding: 15px;
}
.well ul {
text-align: center;
li {
	display: inline;
}
}
.well img {
	background-color: rgba( $color-white, .3);
}	
button.btn {
		width: 100% !important;
	}

.facWraper {
	width: 80px;
	height: 60px;
	display:inline-block;
}
.well ul.nav {
padding-right:0 !important;	
}
.africaRoom .row, .indiaRoom .row, .spaceRoom .row, .japanRoom .row, .rougeAp .row, .artRetroAp .row, .familyAp .row {
	margin-right:0;	
	margin-left:0;
	padding-bottom: 10px;
	padding-top: 10px;
}
.africaRoom .row .col-xs-8, .indiaRoom .row .col-xs-8, .spaceRoom .row .col-xs-8, .japanRoom .row .col-xs-8, .rougeAp .row .col-xs-8, .artRetroAp .row .col-xs-8, .familyAp .row .col-xs-8{
	padding-right: 7.5px;
}
.africaRoom .row .col-xs-4, .indiaRoom .row .col-xs-4, .spaceRoom .row .col-xs-4, .japanRoom .row .col-xs-4, .rougeAp .row .col-xs-4, .artRetroAp .row .col-xs-4, .familyAp .row .col-xs-4{
	padding-left: 7.5px;
}
.africaRoom .btn-default, .indiaRoom .btn-default, .japanRoom .btn-default, .spaceRoom .btn-default, .rougeAp .btn-default, .artRetroAp .btn-default, .familyAp .btn-default  {
    border: none;
	font-weight: bold;
	border-radius: 10px;
	font-size: 18px;
	padding: 7px 12px;
}
.africaRoom .btn-default {
	color: $color-africa;
}
.indiaRoom .btn-default {
	color: $color-india;
}
.spaceRoom .btn-default {
	color: $color-space;
}
.japanRoom .btn-default {
	color: $color-japan;
}
.rougeAp .btn-default {
	color: $color-rouge;
}
.artRetroAp .btn-default {
	color: $color-artRetro;
}
.familyAp .btn-default {
	color: $color-family;
}
.btn-default.detailsBtn {
	color: $color-white;
	background-color: rgba( $color-white, .3);
	font-weight: normal;
}
/* header */

@media (min-width:  670px) {

.container {
    width: 670px;
}
.paddingLeftRightZero {
	padding-left: 15px;
	padding-right: 15px;	

}
}